@import "../css/imports/variables.css";

p, h1, h2, h3 {
    font-family: var(--text-paragraph);
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.bg-img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    font-family: var(--text-paragraph);
}

.navbar-brand {
    font-family: var(--text-heading);
    letter-spacing: 2% !important;
    font-size: 2rem !important;
}

.header_text {
    align-self: center;
    color: white;
    z-index: 1;
    font-family: var(--text-heading) !important;
}

.btn-outline-light {
    align-self: center;
    z-index: 1;
    font-family: var(--text-paragraph);
}


/* Fra apppend */

.features .features-item {
    color: rgba(var(--default-color-rgb), 0.8);
  }
  
  .features .features-item+.features-item {
    margin-top: 100px;
  }
  
  @media (max-width: 768px) {
    header {
        height: 55vh;
    }

    .features .features-item+.features-item {
      margin-top: 40px;
    }
  }
  
  .features .features-item h3 {
    font-weight: 700;
    font-size: 26px;
  }
  
  .features .features-item .btn-get-started {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    padding: 8px 30px 10px 30px;
    border-radius: 4px;
  }
  
  .features .features-item .btn-get-started:hover {
    background-color: rgba(var(--primary-color-rgb), 0.9);
  }
  
  .features .features-item ul {
    list-style: none;
    padding: 0;
  }
  
  .features .features-item ul li {
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }
  
  .features .features-item ul li:last-child {
    padding-bottom: 0;
  }
  
  .features .features-item ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--primary-color);
  }
  
  .features .features-item img {
    border: 6px solid var(--background-color);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  }
  
  .features .features-item .features-img-bg {
    position: relative;
    min-height: 500px;
  }
  
  @media (max-width: 640px) {
    .features .features-item .features-img-bg {
      min-height: 300px;
    }
  }
  
  .features .features-item .features-img-bg img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .features .features-item .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .features .features-item .image-stack .stack-back {
    grid-column: 4/-1;
    grid-row: 1;
    width: 100%;
    z-index: 1;
  }
  
  .features .features-item .image-stack .stack-front {
    grid-row: 1;
    grid-column: 1/span 8;
    margin-top: 20%;
    width: 100%;
    z-index: 2;
  }